*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(53, 53, 79);
  scroll-behavior: smooth;
}

/* navbar */

nav {
    /* position: fixed; */
    top: 0;
  display: flex;
  /* background-color: rgb(164, 207, 193); */
  height: 4rem;
  z-index: 1;
}

ul {
  display: flex;
  /* width: 50%; */
  justify-content: end;
  list-style: none;
  gap: 4rem;
  margin-left: auto;
  margin-right: 1rem;
  align-items: center;
}

ul a {
  text-decoration: none;
}

ul li {
  gap: 2rem;
}

/* hamburger  */

.hamburger {
  display: none;
  cursor: pointer;
  width: 3rem;
}

.bar {
  display: block;
  position: fixed;
  right: 1.5rem;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: white;
  z-index: 999;
}

.bar-one {
/* margin-bottom: 1rem; */
}

.bar-two {
margin-top: .8rem;
}

.bar-three {
margin-top: .8rem;
    
}

@media (max-width: 768px) {
  ul {
    transform: translateY(-100%);
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    opacity: 1;
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    opacity: 1;
  }

  .nav-menu {
    position: fixed;
    
    font-size: 1.5rem;
    left: -100%;
    top: 6rem;
    gap: 0;

    flex-direction: column;
  /* background-color: rgb(164, 207, 193); */
  width: 100%;
  text-align: center;
  transition: .3s;
   
  }
  .nav-menu a {
    color: white;
    text-decoration: none;
  }

  .nav-item {
    margin: 16px 0;

  }

  .nav-menu.active {
    left: 0;
  }
}

/* section testing */

.test-link {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button {
    /* display: flex; */
    justify-content: center;
    width: 3rem;
    /* position: fixed; */
}

div button {
    /* justify-content: center; */
    display: flex;
    /* align-items: center; */
    margin: auto;
    margin-bottom: 3rem;
    /* position: fixed; */

}